@import '../../global.scss';

#video-spotlight {
  .section {
    margin-bottom: 0;
  }

  header {
    h3 {
      margin: 0 0 0.5em;
      font-size: 1rem;

      span {
        display: block;
        font-style: italic;
        font-weight: 400;
        font-size: 0.8rem;

        @media (min-width: $medium-width) {
          padding-inline-start: 0.66em;
          display: inline-block;
        }
      }
    }
  }

  .clip {
    display: flex;
    max-width: 50rem;

    .thumbnail-wrapper {
      width: 75px;
      margin-right: 0.5em;
      margin-bottom: 0.5em;

      @media (min-width: $medium-width) {
        width: 120px;
      }


      .thumbnail {
        height: 0;
        border-radius: $callout-border-radius;
        overflow: hidden;
        padding-top: 56.25%;
        background-position: center;
        background-size: cover;

        @media (min-width: $medium-width) {
          padding-top: 56.25%;
        }
      }
    }

    .description {
      display: flex;
      align-items: center;
      margin-bottom: 0.5em;
      
      h5 {
        margin: 0 0 0.5em;
        orphans: 7;
      }
      
      p {
        &:first-of-type {
          margin-top: 0;
        }
        
        display: none;
      }
      
      @media (min-width: $medium-width) {
        flex: 1;
        display: block;
        p {
          font-size: 0.9rem;
          display: block;
        }
      }
    }
  }
}