@import '../../_global.scss';

.Timeslot {
    display: block;
    background-color: $timeslot-bg;
    padding: 0 1.3em;
    border-top: solid 8px $timeslot-positive;
    overflow: hidden;
    border-radius: 4px;

    @media (min-width: $medium-width) {
        padding: 0 .66em;
    }

    @media (min-width: $large-width) {
        padding: 0 1.3em;
    }


    h3.label {
        margin: 0;
        font-weight: 700;
        white-space: nowrap;
        margin-left: -50%;
        margin-right: -50%;
        padding-left: 50%;
        background: #d5e7ef;
        line-height: 2.2em;
        font-size: 111%;
        border-bottom: solid 1px #bcd8e5;
        
        @media (min-width: $medium-width) {
            font-size: 1.9vw;
        }

        @media (min-width: $large-width)  {
            text-align: center;
            font-size: 126%;
            padding-left: 0;
        }
    }

    .official-likelihood {
        font-size: 0.8em;
        display: block;
        margin-top: 0.33em;
        margin-bottom: 0.33em;
        font-style: italic;
        
        @media (min-width: $medium-width) {
            text-align: center;
            margin-top: -0.37em;
        }
    }

    &[data-guaranteed="true"] {
        .official-likelihood {
            .badge {
                background-color: rgb(51, 132, 10);
            }
        }
    }
    
    .timeslot-date {
        font-size: 6vw;
        font-weight: 700;

        @media (min-width: $small-width)  {
            font-size: 3.05vw;
            white-space: nowrap;
        }

        @media (min-width: $medium-width)  {
            font-size: 1.75vw;
        }

        @media (min-width: $large-width)  {
            font-size: 1.1em;
        }

        .date-gmt, .date-local {
            line-height: 1;
            margin-bottom: 0.15em;
            margin-top: -0.33em;

            @media (min-width: $large-width)  {
                margin-bottom: .5em;
            }
        }

        .date-gmt {
            transform-origin: 0 50%;
            transform: scale(0.75);
        }

        .date-label {
            font-size: 0.6em;
            font-style: italic;
            font-weight: 600;
            position: relative;
            top: 0.3em;
            left: -0.25em;
            background-color: rgba(255,255,255,0.5);
            display: inline-block;
            border-radius: 1em;
            padding: 0.15em .7em 0.5em .5em;
            z-index: 5;

            @media (min-width: $small-width)  {
                font-size: 0.73em;
            }

            @media (min-width: $large-width)  {
                font-size: 0.63em;
            }
        }
        .date-time {
            position: relative;
            z-index: 10;
        }

    }

    .timeslot-participation {
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size: 79%;

        @media (min-width: $large-width)  {
            font-size: 100%;
        }
        
        display: flex;
        > div {
            flex: 8;
            &:first-child {
                flex: 2;
            }
        }

        .sof-combined {
            cursor: default;
        }
    }

    .timeslot-info {
        font-size: 85%;

        @media (min-width: $large-width)  {
            font-size: 90%;
        }
    }

    &[data-guaranteed="false"] {
        filter: saturate(15%);
        background-color: rgb(255, 255, 255);
    }

}