.Server {
    margin-bottom: 1em;
    h3 {
        margin: 0;
    }

    .discord-url {
        line-height: 1em;
        img {
            vertical-align: middle;
            max-height: 1em;
            margin-right: 0.2em;
        }
    }
}