.Broadcast {
    h3 {
        margin-bottom: .25em;
        display: inline-block;
    }
    
    .yt-video {
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            box-shadow: inset 0 0 9vw rgb(195 158 103 / 75%);
            transition: box-shadow 300ms ease;
        }
        
        a {
            min-width: 0;
            display: grid;
            max-width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            filter: saturate(50%) hue-rotate(-10deg) contrast(120%);
            transition: filter 300ms ease;
        }
        
        .thumb {
            display: block;
            max-width: 100%;
            padding-bottom: 56.25%;
            background-position: center;
            background-size: cover;
            position: relative;

            .glitch {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: 100% 100%;
                background-position: center;
                mix-blend-mode: screen;
                opacity: 1;
                transition: opacity 300ms ease;
            }
            .glitch-1 {
                background-image: url(../../../public/vhs1.jpg);
            }
            .glitch-2 {
                background-image: url(../../../public/vhs2.jpg);
            }
            .glitch-3 {
                background-image: url(../../../public/vhs3.jpg);
            }
            .glitch-4 {
                background-image: url(../../../public/vhs4.jpg);
            }
            .glitch-5 {
                background-image: url(../../../public/vhs5.jpg);
            }
        }

        &:hover {
            a {
                filter: saturate(80%) hue-rotate(-5deg) contrast(100%);
            }

            &:after {
                box-shadow: inset 0 0 9vw rgb(195 158 103 / 45%);
            }

            .glitch {
                opacity: 0.75;
                background-size: 103% 106%;
            }
        }
    }
}