 
@keyframes shimmer1 {
    0% {
        background-size: 100% 106%;
    }
    100% {
        background-size: 100% 103%;
    }
}

@keyframes shimmer2 {
    0% {
        background-size: 101% 106%;
    }
    100% {
        background-size: 102% 108%;
    }
}

@keyframes shimmer3 {
    0% {
        background-size: 104% 106%;
    }
    100% {
        background-size: 106% 104%;
    }
}

@keyframes shimmer4 {
    0% {
        background-size: 103% 105%;
    }
    100% {
        background-size: 102% 103%;
    }
}

@keyframes shimmer5 {
    0% {
        background-size: 101% 105%;
    }
    100% {
        background-size: 102% 108%;
    }
}

.Broadcast {
    h3 {
        margin-bottom: .25em;
        display: inline-block;
    }
    
    .yt-video {
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 1px 1px 1px #666;
        max-width: 33%;

        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            box-shadow: inset 0 0 9vw rgb(195 158 103 / 30%);
            transition: box-shadow 300ms ease;
        }
        
        a {
            min-width: 0;
            display: block;
            max-width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            filter: saturate(50%) hue-rotate(-10deg) contrast(120%);
            transition: filter 300ms ease;
        }
        
        .thumb {
            display: block;
            max-width: 100%;
            padding-bottom: 56.25%;
            background-position: center;
            background-size: cover;
            position: relative;
            border-left: solid 1px #444;

            .glitch {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: 100% 100%;
                background-position: 50% 50%;
                mix-blend-mode: screen;
                opacity: 1;
                transition: opacity 300ms ease;
            }
            .glitch-1 {
                background-image: url(../../../public/vhs1.jpg);
                animation: shimmer1 75ms infinite;
            }
            .glitch-2 {
                background-image: url(../../../public/vhs2.jpg);
                animation: shimmer2 70ms infinite;
            }
            .glitch-3 {
                background-image: url(../../../public/vhs3.jpg);
                animation: shimmer3 67ms infinite;
                opacity: 0.4;
            }
            .glitch-4 {
                background-image: url(../../../public/vhs4.jpg);
                animation: shimmer4 80ms infinite;
                opacity: 0.5;
            }
            .glitch-5 {
                background-image: url(../../../public/vhs5.jpg);
                animation: shimmer5 88ms infinite;
            }
        }

        &:hover {
            a {
                filter: saturate(80%) hue-rotate(-5deg) contrast(100%);
            }

            .glitch {
                opacity: 0.75;
                background-size: 103% 106%;
            }
        }
    }
}