@import '_global.scss';

.App {
  min-height: 100vh;
  overflow: hidden;
  padding: 0;

  a, a:link {
    color: $brown;
    font-weight: 700;

    &[target="_blank"] {
      &::after {
        content: '';
        vertical-align: middle;
        padding-left: 1em;
        margin-left: 0.05em;
        margin-bottom: 0.2em;
        background-color: $brown;
        position: relative;
        top: 0.075em;
        mask-size: cover;
        mask-image: url('images/icons8-external-link.svg');
        mask-repeat: no-repeat;
      }

      &.no-icon {
        &::after {
          display: none;
        }
      }
    }
  }

  .badge {
    background-color: $dark-bg;
    color: $light-text;
    display: inline-block;
    border-radius: 4px;
    padding: 0.25em 0.5em 0.33em 0.5em;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    margin-right: 0.5em;

    @media (min-width: $small-width)  {
      font-size: 0.7rem;
    }

    @media (min-width: $large-width)  {
        font-size: 0.83rem;
    }
  }

  .header-section {
    margin: 0;
    padding: 0.75em;
  
    @media (min-width: $small-width) {
      padding: 0;
      margin: 0 auto;
      max-width: 90%;
    }

    @media (min-width: $large-width) {
      padding: 0;
      margin: 0 auto;
      max-width: $section-max-width;
    }
  }

  header {
    overflow: hidden;
    background-color: $blue;
    border-bottom: solid 8px $brown;
    h1, h2 {
      font-weight: 400;
    }
    h1 {
      line-height: 1;
      font-size: 8.3vw;
      margin-top: 0.4vw;
      margin-bottom: -0.2em;
      font-family: 'Dela Gothic One', sans-serif;
      color: $gold;
    }
    h2 {
      font-size: 4.6vw;
      margin-top: 3.1vw;
      margin-bottom: 0.4vw;
      color: #fff;
    }

    @media (min-width: $small-width) {
      margin-bottom: 1em;

      h1 {
        font-size: 38px;
        margin-bottom: 0;
        margin-top: 0.6em;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 1.5em;
        font-size: 24px;
      }
    }
  }

  .intro {
    font-weight: 600;
    
    @media (min-width: $small-width) {
      font-size: 18px;
      margin-top: 1em;
      margin-bottom: 1.4em;
    }

    @media (min-width: $large-width) {
      font-size: 18px;
      margin-top: 3em;
      margin-bottom: 3.33em;
    }
  }
}

// Quick way to limit text max-width
.text-content {
  max-width: $text-content-max-width;
}

.section {
  margin: 0;
  padding: 0.75em;
  
  &:first-child {
    margin-top: 0;
  }

  h2.title {
    font-weight: 700;
    color: $light-text;
    background-color: $dark-bg;
    padding: 0 0 .1em .5em;
  }
  
  @media (min-width: $small-width) {
    padding: 0;
    margin: 0 auto 3em;
    max-width: 90%;
  }
  
  @media (min-width: $large-width) {
    padding: 0;
    margin: 0 auto 3em;
    max-width: $section-max-width;
  }
}

.footnote {
  font-size: 0.8rem;
  padding: .75em 0;
  font-style: italic;
}

.timeslots-wrapper {
  background-color: $dark-bg;
  overflow: hidden;

  @media (min-width: $large-width) {
    margin-bottom: 6em;
  }

  .footnote {
    color: $light-text;
  }

  .week-info {
    font-size: 60%;
    display: block;
    color: $light-text;
  }

  .timeslots {
    display: block;

    .Timeslot {
      margin-top: 1em;
      
      &:first-child {
        margin-top: 0;
      }
    }
    
    @media (min-width: $medium-width) {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      column-gap: 1em;
      row-gap: 1em;

      .Timeslot {
        margin-top: 0;

        &:first-child {
          margin-top: 0;
        }
      }  
    }

    @media (min-width: $large-width) {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      column-gap: 1em;

      .Timeslot {
        margin-top: 0;

        &:first-child {
          margin-top: 0;
        }
      }  
    }
  }
}

.chatter-servers {
  .Server {
    margin-bottom: 2em;
  }
}

.faq.section {
  dt {
    font-size: 1.15em;
    font-weight: 700;
  }
  dd {
    margin-bottom: 1.4em;
  }
}

.inline-discord-callout {
  img {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    padding-right: 0.2em
  }
}

#announcements {
  .Announcement {
    &:first-child {
      margin-top: 2em;
    }
  }
}