@import '_global.scss';

/////////////////////////////////////////////
// Utilities
/////////////////////////////////////////////
.hidden-xs {
  display: none;

  @media (min-width: $small-width)  {
    display: initial;
  }
}


/////////////////////////////////////////////
// General/Globally Applied
/////////////////////////////////////////////
p:first-child {
  margin-top: 0;
}

a, a:link {
  color: var(--link-color);
  font-weight: 700;

  &[target="_blank"] {
    &::after {
      content: '';
      vertical-align: middle;
      padding-left: 1em;
      margin-left: 0.05em;
      margin-bottom: 0.2em;
      background-color: var(--link-color);
      position: relative;
      top: 0.075em;
      mask-size: cover;
      mask-image: url('images/icons8-external-link.svg');
      mask-repeat: no-repeat;
    }

    &.no-icon {
      &::after {
        display: none;
      }
    }
  }
}

dt {
  font-size: 1.15em;
  font-weight: 700;
}
dd {
  margin: 0 1em 1.4em 1em;

  *:first-child {
    margin-top: 0.33em;
  }
}
ul, ol {
  margin-left: 0;
  padding-left: 1em;

  li {
    &::marker {
      padding-left: 1em;
    }

    *:first-child {
      margin-top: 0.33em;
    }
  }
}

h2, h3 {
  text-wrap: balance;
}

.inverted-text {
  color: var(--text-1);

  a, a:link {
    color: var(--text-1);
  
    &[target="_blank"] {
      &::after {
        background-color: var(--text-1);
      }
    }
  }
}

.badge {
  background-color: var(--background-9);
  color: var(--text-1);
  display: inline-block;
  border-radius: 4px;
  padding: 0.25em 0.5em 0.33em 0.5em;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  margin-right: 0.5em;

  &.light {
    background-color: var(--text-1);
    color: var(--background-9);  
  }

  @media (min-width: $small-width)  {
    font-size: 0.7rem;
  }

  @media (min-width: $large-width)  {
      font-size: 0.83rem;
  }
}

.text-content {
  max-width: $text-content-max-width;
}

blockquote {
  border-left: solid 4px rgba(0, 0, 0, 0.15);
  padding: .66em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  background-color: rgba(250, 245, 227, 0.773);
  
  @media (min-width: $small-width) {
    margin-left: 1em;
  }
}

.highlight {
  padding: 1em 1em 1em 1.5em;
  background-color: var(--highlight-bg);
  border-radius: var(--base-border-radius);
  
  @media (min-width: $small-width) {
    margin-left: 1em;
  }
  
  h3 {
    margin-top: 0;
  }
  
  blockquote {
    border-left: solid 4px rgba(0, 0, 0, 0.15);
    background-color: var(--highlight-quote-bg);
  }
}


/////////////////////////////////////////////
// Global App Structure
/////////////////////////////////////////////
body {
  background-color: var(--background-1);
}
.App {
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin-bottom: 20vh;
  color: var(--text-9);
  
  .main-header {
    overflow: hidden;
    background-color: var(--main-header-bg);
    border-bottom: solid 4px var(--weird-accent-color);

    .logo {
      width: 100px;
      height: 50px;
      overflow: hidden;
      background-image: url('../public/images/imsa-vintage-logo.png');
      background-size: cover;
      margin-right: 12px;
      flex: 0 0 100px;
      image-rendering: crisp-edges;
    }
    
    .header-section {
      margin: 0;
      padding: 0.45em;
      display: flex;
      align-items: center;
    
      @media (min-width: $small-width) {
        padding: 0;
        margin: 0 auto;
        max-width: 90%;
      }
  
      @media (min-width: $large-width) {
        padding: 0;
        margin: 0 auto;
        max-width: $section-max-width;
      }
    }
    
    h1, h2 {
      font-weight: 400;
    }
    h1 {
      line-height: 1;
      font-size: 4.6vw;
      margin-top: 0.4vw;
      margin-bottom: -0.2em;
      font-family: 'Dela Gothic One', sans-serif;
      color: var(--main-header-text);
    }
    h2 {
      font-size: 3.2vw;
      margin-top: 1.9vw;
      margin-bottom: 0.4vw;
      color: var(--text-3);
    }

    @media (min-width: $small-width) {
      margin-bottom: 1em;

      h1 {
        font-size: 20px;
        margin-bottom: 0.2em;
        margin-top: 1.2em;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 1.5em;
        font-size: 16px;
      }
    }
  }

  .intro {
    font-weight: 600;
    
    @media (min-width: $small-width) {
      font-size: 18px;
      margin-top: 1em;
      margin-bottom: 1.4em;
    }

    @media (min-width: $large-width) {
      font-size: 18px;
      margin-top: 3em;
      margin-bottom: 2em;
    }
  }

  .broadcast {

    .broadcast-season-selector,
    .broadcast-searcher {
      margin-bottom: 1em;

      h3 {
        margin: 0;
        margin-right: 0.66em;
      }

      @media (min-width: $small-width) {
        display: flex;
        align-items: center;
      }
    }

    .broadcast-season-selector {
      &[data-disabled="true"] {
        opacity: 0.5;
      }

      select.broadcast-season {
        background: var(--background-9);
        @media (prefers-color-scheme: dark) {
          color: var(--background-9);
          background: var(--background-1);
        }
        color: var(--text-1);
        padding: 0.3em;
        border-radius: 5px;
        border: solid 1px transparent;
        font-weight: 600;
        font-size: 0.85rem;
        width: 100%;
        @media (min-width: $small-width) {
          font-size: 1rem;
          width: auto;
        }
      }
    }

    .broadcast-searcher {
      input {
        font-size: 1rem;
        border-radius: var(--base-border-radius);
        border: solid 1px var(--weird-accent-color);
        box-shadow: 0 0 0 1px transparent;
        padding: 0.25em;
        width: 100%;
        color: var(--text-9);
        background-color: var(--background-1);
        transition: box-shadow 250ms ease;

        &:focus-within {
          outline: none;
          box-shadow: 0 0 0 1px var(--background-9);
        }

        @media (min-width: $small-width) {
          width: 15.6rem;
        }
      }
    }

    .no-results {
      text-align: center;
      padding: 3.8rem 0;
      font-size: 1.5rem;
    }
    
    .videos-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      
      @media (min-width: $small-width) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
      }

      @media (min-width: $medium-width) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
      }

      @media (min-width: $large-width) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
      }
    }
  }

  .section {
    margin: 0;
    padding: 0.75em;
  
    @media (min-width: $small-width) {
      padding: 0;
      margin: 0 auto 2em;
      max-width: 90%;
    }
    
    @media (min-width: $large-width) {
      max-width: $section-max-width;
    }
    
    &:first-child {
      margin-top: 0;
    }
  
    h2.title {
      font-weight: 700;
      color: var(--section-header-text);
      background-color: var(--section-header-bg);
      padding: 0.5em 0 .6em .5em;
      font-size: 1.2em;
      margin-left: -0.5em;
      margin-right: -0.5em;
      border-radius: var(--base-border-radius);
      text-wrap: balance;
  
      @media (min-width: $small-width) {
        font-size: 1.5em;
        margin-left: 0;
        margin-right: 0;  
      }
    }
  }
  
  .footnote {
    font-size: 0.8rem;
    padding: .75em 0;
    font-style: italic;
  }
  
  .timeslots-container {
    .timeslots-wrapper:last-child {
      @media (min-width: $large-width) {
        margin-bottom: 6em;
      }
    }
  }

  .timeslots-wrapper {
    background-color: var(--timeslots-bg);
    overflow: hidden;

    h2.title {
      color: var(--timeslots-header-text);
      background-color: transparent;
      border-radius: 0;
    }
    
    @media (min-width: $small-width) {
      .section {
        h2.title {
          padding-left: 0;
        }
      }
    }
  
    .notes {
      color: var(--timeslots-header-text);
      font-size: 0.8em;
      margin-top: -0.66em;
      margin-bottom: 1em;
      
      @media (min-width: $large-width) {
        font-size: 1em;
      }  
  
      .badge {
        margin-bottom: 0.3em;
        white-space: normal;
        display: table;
      }
    }
  
    .footnote {
      color: var(--timeslots-header-text);
    }
  
    .week-info {
      font-size: 70%;
      display: block;
      color: var(--timeslots-header-text);
    }
  
    .timeslots {
      display: block;
  
      .Timeslot {
        margin-top: 1em;
        
        &:first-child {
          margin-top: 0;
        }
      }
      
      @media (min-width: $medium-width) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 1em;
        row-gap: 1em;
  
        .Timeslot {
          margin-top: 0;
  
          &:first-child {
            margin-top: 0;
          }
        }  
      }

      @media (min-width: $large-width) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        column-gap: 1em;
        row-gap: 1em;
      }
    }
  }
  
  .chatter-servers {
    .Server {
      margin-bottom: 2em;
    }
  }

  .intro-callout {
    margin-inline-end: 1em;
  }
  
  .inline-callout {
    white-space: nowrap;
    display: inline-block;

    svg {
      display: inline-block;
      width: auto;
      height: 1em;
      vertical-align: middle;
      padding-right: 0.2em
    }

    &.setups {
      svg {
        height: 1.3em;
        path {
          stroke: var(--positive-action);
        }
      }
    }
  }
}
